html {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
.wrapper {
    width: 100%;
    min-height: 100vh;
    background: url('./images/bg.jpg') no-repeat center top/100% 100%;
    padding-bottom: 50px;
}

/*======== HEADER ======== */
.header {
    width: 100%;
    height: 90px;
    padding: 0 30px;
    margin-bottom: 30px;
    background: url('./images/nav-bg.png') no-repeat center bottom;
}

.container {
    height: 100%;
}

.menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo {
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    max-width: 100%;
    height: auto;
}

.menu-right {
    padding-bottom: 25px;
}

.menu-right a {
    list-style: none;
    color: #fff8de;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s ease-in-out;
}

.menu-right a:hover {
    color: rgb(117, 117, 11);
}

.home-desktop {
   margin-right: 40px;
}

.home {
    display: none;
}

.facebook {
    display: none;
}
/*======== END HEADER ======== */

/*======== CONTENT ======== */
.content {
    margin-top: 135px;
}

.content-main {
    display: flex;
}

.flipster__button {
    top: 40%;
}
/*======== END CONTENT ======== */

/*======== CONTENT BOTTOM ======== */
.content-bottom {
    background: url('./images/update-timeline.png') no-repeat center left/contain;
    height: 210px;
    margin: 0 95px;
}

.content-bottom__container {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    height: 100%;
}

.content-bottom__container li {
    width: 140px;
    height: auto;
    margin-right: 20px;
    font-size: 16px;
    color: white;
    font-weight: 200;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
}

.content-bottom__item {
    position: relative;
}

.content-bottom__item p {
    position: absolute;
    top: 42%;
    left: 67px;
    color: white;
}

.content-bottom__item h2 {
    position: absolute;
    top: 85%;
    left: 22px;
    color: #3f1f06;
}

.content-bottom__item a p {
    transform: translate(-50%,-50%);
}

.active-update {
    background: url('./images/timeline-dot-hover.png');
}

.content-img {
    background: url('./images/timeline-dot.png');
    width: 140px;
    height: 210px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px white;
    text-shadow: 1px 1px 5px #c49374, 1px 1px 5px #bf6826;
    padding: 0 30px;
    transition: background .3s ease-in-out;
    cursor: pointer;
}

.content-img:hover {
    background: url('./images/timeline-dot-hover.png');
}

.active {
    background: url('./images/timeline-dot-hover.png');
}
/*======== END CONTENT BOTTOM ======== */

/*======== MEDIA QUERIES FOR MOBILE ======== */
@media (max-width: 768px) {
    .wrapper {
       background: url('./images/bg-mobile.jpg') no-repeat center top/100% 100%;
    }
    .header {
       padding: 0;
    }
    .container {
        max-width: 100%;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }
    .logo {
        width: 150px;
        height: auto;
        position: static;
        transform: translate(0);
    }
    .logo img {
        width: 100%;
    }
    .menu-right a {
        list-style: none;
        font-size: 20px;
    }
    .home {
        margin-right: 40px;
        display: inline;
    }
    .facebook {
        display: inline;
    }
    .home-desktop {
        display: none;
        margin-right: 30px;
    }
    .fb-desktop {
        display: none;
    }
    .content {
        margin-top: 30px;
    }
    .content-bottom {
        display: none;
    }
}

@media (max-width: 400px) {
    .menu {
        padding: 0 10px;
    }
    .home {
        margin-right: 20px
    }
}
/*======== END MEDIA QUERIES FOR MOBILE ======== */

/*======== MEDIA QUERIES FOR TIMELINE UPDATE WIDTH <= 1300PX ======== */
@media (max-width: 1300px) {
    .content-bottom {
        background: url('./images/update-timeline.png') no-repeat center bottom left;
        margin: 0 30px;
    }
    .content-bottom__container {
        display: none;
    }
}
/*======== END MEDIA QUERIES FOR TIMELINE UPDATE WIDTH <= 1300PX ======== */